#include "winres.h"
#include "ListOptionsCtrlRes.h"

/////////////////////////////////////////////////////////////////////////////
// English (U.S.) resources

#if !defined(AFX_RESOURCE_DLL) || defined(AFX_TARG_ENU)
#ifdef _WIN32
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
#pragma code_page(1252)
#endif //_WIN32

/////////////////////////////////////////////////////////////////////////////
//
// String Table
//

STRINGTABLE DISCARDABLE 
BEGIN
    IDS_LISTOPTIONS_OK      "OK"
    IDS_LISTOPTIONS_TRUE    "True"
    IDS_LISTOPTIONS_FALSE   "False"
    IDS_LISTOPTIONS_ATTRIBUTE_TEXT "Property"
    IDS_LISTOPTIONS_ATTRIBUTE_VALUE "Value"
    IDS_LISTOPTIONS_DEFAULT_FOLDER_CAPTION "Please specify a folder"
    IDS_LISTOPTIONS_DEFAULT_FILE_CAPTION "Please specify a file"
    IDS_LISTOPTIONS_DEFAULT_FILE_EXTENSION_FILTER "All Files (*.*)|*.*||"
END

#endif    // English (U.S.) resources
/////////////////////////////////////////////////////////////////////////////
