<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<configuration>
	<windows>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity
					type="win32"
					name="'Microsoft.VC90.MFCLOC"
					processorArchitecture="x86"
					publicKeyToken="1fc8b3b9a1e18e3b">
				</assemblyIdentity>
				<bindingRedirect
					oldVersion="8.0.0.0-9.65535.65535.65535"
					newVersion="9.0.30729.6161">
				</bindingRedirect>
				<codeBase
					version="9.0.30729.6161"
					href="{4ADE7CBA-27B5-4E33-987D-802509D2D34A}\Microsoft.VC90.MFCLOC">
				</codeBase>
			</dependentAssembly>
		</assemblyBinding>
	</windows>
</configuration>
