#include "winres.h"
#include "FileTreeCtrl.rh"

/////////////////////////////////////////////////////////////////////////////
// English (U.S.) resources

#if !defined(AFX_RESOURCE_DLL) || defined(AFX_TARG_ENU)
#ifdef _WIN32
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
#pragma code_page(1252)
#endif //_WIN32

/////////////////////////////////////////////////////////////////////////////
//
// Menu
//

IDR_TREEFILECTRL_POPUP MENU DISCARDABLE 
BEGIN
    POPUP "_POPUP_"
    BEGIN
        MENUITEM "&Open",                       ID_TREEFILECTRL_OPEN
        MENUITEM "&Rename",                     ID_TREEFILECTRL_RENAME
        MENUITEM "&Delete",                     ID_TREEFILECTRL_DELETE
        MENUITEM "&Properties",                 ID_TREEFILECTRL_PROPERTIES
        MENUITEM "&Create Folder",              ID_TREEFILECTRL_CREATEFOLDER
    END
END

/////////////////////////////////////////////////////////////////////////////
//
// Cursor
//

IDR_TREEFILECTRL_NO_DROPMOVE CURSOR  DISCARDABLE     "BinRes\\tfnodropmove.cur"
IDR_TREEFILECTRL_NO_DROPCOPY CURSOR  DISCARDABLE     "BinRes\\tfnodropcopy.cur"
IDR_TREEFILECTRL_DROPCOPY CURSOR  DISCARDABLE     "BinRes\\tfdropcopy.cur"

/////////////////////////////////////////////////////////////////////////////
//
// String Table
//

STRINGTABLE DISCARDABLE 
BEGIN
    ID_TREEFILECTRL_UPONELEVEL "Go up one level\nUp"
    ID_TREEFILECTRL_OPEN    "Open an item"
    ID_TREEFILECTRL_DELETE  "Delete an item\nDelete"
    ID_TREEFILECTRL_RENAME  "Rename an item"
    ID_TREEFILECTRL_PROPERTIES 
                            "Show the properties dialog for an item\nProperties"
    ID_TREEFILECTRL_REFRESH "Refresh the view\nRefresh"
    ID_TREEFILECTRL_BACK    "Go back to the previous item\nBack"
    ID_TREEFILECTRL_FORWARD "Go the next item\nForward"
    ID_TREEFILECTRL_CREATEFOLDER "Creates a new folder"
END

#endif    // English (U.S.) resources
/////////////////////////////////////////////////////////////////////////////
