#include "winres.h"
#include "Smtp.rh"

/////////////////////////////////////////////////////////////////////////////
// English (U.S.) resources

#if !defined(AFX_RESOURCE_DLL) || defined(AFX_TARG_ENU)
#ifdef _WIN32
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
#pragma code_page(1252)
#endif //_WIN32

STRINGTABLE DISCARDABLE 
BEGIN
    IDS_PJNSMTP_UNEXPECTED_SMTP_LOGIN_RESPONSE 
                            "Unexpected SMTP Login response, Last Response: %1"
    IDS_PJNSMTP_FAIL_GET_HEADER_OF_BODY_PART 
                            "Failed to get header of body part"
    IDS_PJNSMTP_FAIL_GET_BODY_OF_BODY_PART "Failed to get body of body part"
    IDS_PJNSMTP_FAIL_GET_FOOTER_OF_BODY_PART 
                            "Failed to ger footer of body part"
    IDS_PJNSMTP_UNEXPECTED_EHLO_RESPONSE 
                            "Unexpected EHLO response, Last Response: %1"
    IDS_PJNSMTP_UNEXPECTED_HELO_RESPONSE 
                            "Unexpected HELO response, Last Response: %1"
    IDS_PJNSMTP_UNEXPECTED_QUIT_RESPONSE 
                            "Unexpected QUIT response, Last Response: %1"
    IDS_PJNSMTP_UNEXPECTED_MAIL_FROM_RESPONSE 
                            "Unexpected MAIL FROM response, Last Response: %1"
    IDS_PJNSMTP_UNEXPECTED_DATA_RESPONSE 
                            "Unexpected DATA response, Last Response: %1"
    IDS_PJNSMTP_UNEXPECTED_END_OF_MESSAGE_RESPONSE 
                            "Unexpected End of Message response, Last Response: %1"
    IDS_PJNSMTP_FILE_SIZE_TO_SEND_TOO_LARGE "File too large to mail"
    IDS_PJNSMTP_CANNOT_SEND_ZERO_BYTE_MESSAGE "Cannot mail 0 byte length file"
    IDS_PJNSMTP_UNEXPECTED_RCPT_TO_RESPONSE 
                            "Unexpected RCPT TO response, Last Response: %1"
    IDS_PJNSMTP_UNEXPECTED_AUTH_LOGIN_RESPONSE 
                            "Unexpected AUTH LOGIN response, Last Response: %1"
    IDS_PJNSMTP_UNEXPECTED_AUTH_LOGIN_USERNAME_REQUEST 
                            "Unexpected AUTH LOGIN username request, Last Response: %1"
    IDS_PJNSMTP_UNEXPECTED_AUTH_LOGIN_USERNAME_RESPONSE 
                            "Unexpected AUTH LOGIN username response, Last Response: %1"
END

STRINGTABLE DISCARDABLE 
BEGIN
    IDS_PJNSMTP_UNEXPECTED_AUTH_LOGIN_PASSWORD_REQUEST 
                            "Unexpected AUTH LOGIN password request, Last Response: %1"
    IDS_PJNSMTP_UNEXPECTED_AUTH_LOGIN_PASSWORD_RESPONSE 
                            "Unexpected AUTH LOGIN password response, Last Response: %1"
    IDS_PJNSMTP_UNEXPECTED_AUTH_PLAIN_RESPONSE 
                            "Unexpected AUTH PLAIN response, Last Response: %1"
    IDS_PJNSMTP_UNEXPECTED_AUTH_PLAIN_USERNAME_REQUEST 
                            "Unexpected AUTH PLAIN username request, Last Response: %1"
    IDS_PJNSMTP_UNEXPECTED_AUTH_PLAIN_USERNAME_RESPONSE 
                            "Unexpected AUTH PLAIN username response, Last Response: %1"
    IDS_PJNSMTP_UNEXPECTED_AUTH_PLAIN_PASSWORD_REQUEST 
                            "Unexpected AUTH PLAIN password request, Last Response: %1"
    IDS_PJNSMTP_UNEXPECTED_AUTH_PLAIN_PASSWORD_RESPONSE 
                            "Unexpected AUTH PLAIN password response, Last Response: %1"
    IDS_PJNSMTP_UNEXPECTED_AUTH_CRAM_MD5_RESPONSE 
                            "Unexpected CRAM-MD5 response, Last Response: %1"
    IDS_PJNSMTP_UNEXPECTED_CRAMD_MD5_DIGEST_RESPONSE 
                            "Unexpected CRAM-MD5 digest response, Last Response: %1"
    IDS_PJNSMTP_FAILED_NTLM_AUTHENTICATION 
                            "Failed to perform NTLM authentication"
    IDS_PJNSMTP_UNEXPECTED_AUTH_NTLM_RESPONSE 
                            "Unexpected AUTH NTLM response, Last Response: %1"
    IDS_PJNSMTP_FAIL_BASE64_DECODE "Failed to base64 decode data"
    IDS_PJNSMTP_FAIL_BASE64_ENCODE "Failed to base64 encode data"
	 IDS_PJNSMTP_FAIL_CREATE_SSL_SOCKET
                            "Failed to create SSL socket, Details: %1"
    IDS_PJNSMTP_FAIL_CONNECT_SOCKS4_VIASSL 
                            "Failed to connect to Socks 4 proxy via SSL: Details:%1"
    IDS_PJNSMTP_FAIL_CONNECT_SOCKS5_VIASSL 
                            "Failed to connect to Socks 5 proxy via SSL: Details:%1"
END

STRINGTABLE DISCARDABLE 
BEGIN
    IDS_PJNSMTP_FAIL_CONNECT_HTTPPROXY_VIASSL 
                            "Failed to connect to HTTP proxy via SSL: Details:%1"
    IDS_PJNSMTP_FAIL_CONNECT_VIASSL "Failed to connect via SSL: Details:%1"
    IDS_PJNSMTP_FAIL_SEND_VIASSL "Failed to send data via SSL: Details:%1"
    IDS_PJNSMTP_FAIL_RECEIVE_VIASSL 
                            "Failed to receive data via SSL: Details:%1"
    IDS_PJNSMTP_GRACEFUL_DISCONNECT 
                            "A graceful disconnect had occurred, Last Response: %1"
    IDS_PJNSMTP_FAIL_QP_ENCODE "Failed to QP encode data"
    IDS_PJNSMTP_FAIL_Q_ENCODE "Failed to Q encode data"
    IDS_PJNSMTP_UNEXPECTED_STARTTLS_RESPONSE
                            "Unexpected STARTTLS response, Last Response: %1"
END

#endif    // English (U.S.) resources
/////////////////////////////////////////////////////////////////////////////
